@font-face {
  font-family: "NanumSquare";
  src: url("/src/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/src/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunpen";
  src: url("/src/fonts/NanumBarunpenR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunpen";
  src: url("/src/fonts/NanumBarunpenB.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/* @font-face {
  font-family: "GangwonEduSaeeum";
  src: url("/src/fonts/GangwonEduSaeeum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "GangwonEduSaeeum";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --fontBasic: #292d2d;
  --fontBlue: #5395c7;
  --fontGreen: #5395c7;
  /* --fontGreen: #74bb35; */
  --fontOrange: #ef846b;
  --fontLight: #898158;
  --fontRed: #ea826e;
  --backBasic: #f6f7f3;
  --backGreen: #cbdb3b;
  font-size: 4vw;
}

@media (min-width: 500px) {
  :root {
    font-size: 20px;
  }
}

.compareDiv {
  position: absolute;
  top: 0%;
}
.compareDiv img {
  width: 500px;
}

.fontRed {
  color: var(--fontRed);
}

* {
  font-family: "NanumSquare", sans-serif;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--fontBasic);
  background-color: var(--fontBasic);
}

.hline {
  width: 100%;
  border-top: 1pt dashed lightgray;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: #fcfaf5;
}

/* -------------------------------- */
.img-box {
  position: relative;
  text-align: center;
}
.img-box img {
  width: 100%;
}
.img-box .emptyImg {
  width: 100%;
  height: 34rem;
}
.img-box .overlay-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--fontBlue);
  white-space: nowrap;
}
.img-box .overlay-text .title-text {
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.img-box .overlay-text .titleFont {
  margin: 0.3rem 0.8rem 0;
  font-family: "NanumBarunpen";
}
.img-box .overlay-text img {
  position: absolute;
  width: 65%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.img-box .tag-div * {
  font-family: "GangwonEduSaeeum", sans-serif;
  font-size: 1.3rem;
}
.img-box .tag-div img.tag-tail-dung {
  position: absolute;
  width: 3.5%;
  top: 48%;
  left: 23%;
}
.img-box .tag-div div.tag-tail-dung {
  position: absolute;
  transform: translate(0, -50%);
  top: 48%;
  left: 28%;
}
.img-box .tag-div div.tag-tail-dung span {
  color: var(--fontGreen);
}
.img-box .tag-div img.tag-tail-bbeum {
  position: absolute;
  width: 5%;
  top: 51%;
  left: 72%;
}
.img-box .tag-div div.tag-tail-bbeum {
  position: absolute;
  transform: translate(-100%, -50%);
  top: 51%;
  left: 70.5%;
}
.img-box .tag-div div.tag-tail-bbeum span {
  color: var(--fontOrange);
}

/* ------------------------------- */

.stamp-box {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  margin: 3rem auto 0;
}
.stamp-box img {
  top: 0%;
  width: 55%;
}
.stamp-box .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.stamp-box .overlay-text p {
  margin: 0.3rem 0 0.6rem;
}

/* -------------------------------- */

.invit-box {
  margin: 3.5rem auto 0;
  padding: 0 0 2rem;
}

.invit-box img {
  width: 40%;
}

.invit-box .title,
.loca-box .title,
.acc-box .title {
  margin: 3rem auto 3rem;
  color: var(--fontGreen);
  font-weight: bold;
  font-size: 1.2rem;
}

.invit-box .invit-letter,
.acc-box .acc-letter {
  margin: 0 auto 3rem;
}
.invit-box .invit-letter p,
.acc-box .acc-letter p {
  margin: 0 auto 0.5rem;
}

.invit-box .invit-name {
  margin: 0 auto 1em;
}

.invit-box .invit-name div {
  display: inline-block;
}

.invit-box .invit-name div:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.invit-box .invit-name div:nth-child(2) {
  margin: 0 0.5em;
  font-size: 1em;
}

.invit-box .invit-name div:last-child {
  font-size: 1.2em;
  font-weight: bold;
}

/* -------------------------------- */

.date-box {
  position: relative;
  margin: 3rem 0;
}

.date-box .cal-title {
  width: 20rem;
}

.date-box .cal-nyang {
  position: absolute;
  width: 18.7rem;
  left: 3.4rem;
  top: 15rem;
  z-index: 1;
}

.date-box .cal {
  display: grid;
  position: relative;
  width: 20rem;
  margin: 3rem auto 11rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(6, 2.2rem);
  z-index: 900;
}

.date-box .cal div {
  font-size: 1.2rem;
  font-family: "GangwonEduSaeeum", sans-serif;
}
.date-box .cal .wedding-date {
  color: white;
}

.date-box .countdown,
.date-box .countdown span {
  font-family: "GangwonEduSaeeum", sans-serif;
}
.date-box .countdown {
  font-size: 1.2rem;
}
.date-box .countdown .fontEmp {
  font-size: 1.5rem;
}

/* ------------------------------- */

.loca-box {
  margin: 7rem auto 0;
  padding: 0 0 2rem;
}

.loca-box .loca-address {
  font-weight: bold;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.loca-box .loca-address div {
  margin-top: 0.5rem;
}

.loca-box .bttns {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 2rem auto 0;
}

.loca-box .bttns button {
  /* width: 30%; */
  width: fit-content;
  height: 1.7rem;
  font-size: 0.8rem;
  background: none;
  margin: 0 1%;
  font-weight: bold;
}
.loca-box .bttns button img {
  width: 1.3rem;
  height: auto;
  margin-right: 0.5rem;
  margin-left: 0;
}

.loca-box .bttn-notice {
  font-size: 0.8rem;
  margin: 1rem auto 0;
}

.loca-box .howtoget .object {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 1rem 0;
}
.loca-box .howtoget .object img {
  width: 1.3rem;
  margin-right: 1rem;
}
.loca-box .howtoget .description {
  font-size: 0.9rem;
  text-align: left;
  margin: 0.5rem 0 0 3.3rem;
}
.loca-box .howtoget .description p {
  padding: 0;
  margin: 0 0 0.4rem;
}
.loca-box .notice {
  width: fit-content;
  margin: 2rem auto 0;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1pt solid hsl(0, 0%, 80%);
}
.loca-box .notice p {
  margin: 0.5rem;
}

/* ------------ */

.acc-box {
  margin: 0 auto 0;
  padding: 0 0 2rem;
}

.acc-box .acc-bttns {
  margin: -1rem 0;
}

.acc-box .acc-bttn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  background-color: white;
  border: 1px solid hsl(0, 0%, 60%);
  padding: 1rem 0.6rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 60%;
}

.acc-box .acc-bttn img {
  width: 1.2rem;
  height: auto;
}

.acc-box .acc-drawer {
  width: 60%;
  margin: 0 auto 0.5rem;
  background-color: hsl(0, 0%, 80%);
}

.acc-box .acc-info {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background-color: hsl(0, 0%, 90%);
}

.acc-box .acc-info div {
  font-size: 0.8rem;
  text-align: left;
}
.acc-box .acc-info .acc-who {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.acc-box .acc-info button {
  margin-top: auto;
  margin-bottom: auto;
}

/* ----------------------- */

.gal-box {
  margin: 0 auto 0;
  padding: 0 0 2rem;
}

.gal-box .photo-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 9rem;
}

.gal-box .photo-title .photo-dung {
  position: absolute;
  width: 7rem;
}
.gal-box .photo-title .photo-bbeum {
  position: absolute;
  width: 5rem;
}

.gal-box .gal-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(4, auto);
}

.gal-box .gal-grid img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.gal-box .gal-img {
  position: fixed;
  top: 0;
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ----------------------- */
.thanks-box {
  position: relative;
}

.thanks-box .title-text {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

.thanks-box .title-text .thanks {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.thanks-box .title-text .dongjin-ina {
  font-size: 0.9rem;
}

/* ----------------------- */

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  height: 1.6rem;
  cursor: pointer;
  border-radius: 5px;
}

button div {
  margin-left: 0.5rem;
}
button img {
  margin: 0 0.5rem;
  height: 1rem;
}

button:hover {
  /* background: hsl(00, 30%, 50%); */
}
